PINECONE_API_KEY="asdfaods-adsf34rqqqq-qewrqfdf-efq-fadsf"
PINECONE_ENVIRONMENT="us-west1-gcp"
PINECONE_INDEX="infobotthing"
OPENAI_SECRET_KEY="sk-paosjdfopaijsdpfoajsdopifjapoisdjfopasdjfoad"
WHATSAPP_WEBHOOK_TOKEN="DJAFKDSJFALDSJFLJDSFAPSDJF39"
WHATSAPP_PHONE_NUMBER_ID="01938710392741903784"
META_ACCESS_TOKEN="alsjidnfapoisdjfopjp3jpofihjqewpoifjqoidjflaksdjflsjdflajsfoiajwefpoiajeff;DJFAOSDJLFLADSJLFhlkjDSHLFKASDFLAKDF;"